In [49]:
def helloWorld(abc):
    print(abc)

import sys
def printf(format, *args):
    sys.stdout.write(format % args)

In [51]:
def printftup(a):
    for i in a:
        print(i, end = "  ")

1. Write a Python program to create a tuple.
2. Write a Python program to create a tuple with different data types.
3. Write a Python program to create a tuple with numbers and print one item.
4. Write a Python program to unpack a tuple in several variables.

In [52]:
a = ( 1, 2, 3, "rudy", "ISM" )
printftup(a)

1  2  3  rudy  ISM

In [67]:
b = []
for i in a:
    b.append(i)

for i in range(0, len(b)):
    print(b[i])

1
2
3
rudy
ISM

5. Write a Python program to add an item in a tuple.
6. Write a Python program to convert a tuple to a string.
7. Write a Python program to get the 4th element and 4th element from last of a tuple.
8. Write a Python program to create the colon of a tuple.
9. Write a Python program to find the repeated items of a tuple.
10. Write a Python program to check whether an element exists within a tuple.

In [64]:
# Concat
def concatT(a, b):
    print(a + b)
def addT(a, b):
    res = []
    if len(a) != len(b):
        print("Make lengths same")
    for i in range(len(a)):
        res.append(a[i] + b[i])
    print(tuple(res))

In [65]:
addT((1,2,3), (4,5,6))

(5, 7, 9)

In [66]:
concatT((1,2,3), (4,5,6))

(1, 2, 3, 4, 5, 6)

In [69]:
def convStr(a):
    res = ""
    for i in a:
        res += str(i)
    return res
convStr((1,2,3))

'123'

In [72]:
def repeatT(a):
    for i in range(0, len(a)):
        print(i in

(2, 3)